## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [6]:
x = 1
print(x)

1

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [8]:
n = "Nicolas"

5) Crear una variable que contenga un número complejo

In [9]:
ncompleto = "Nicolas Haulet"

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(ncompleto)

str

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
var1 = 'True'
var2 = True
# no es lo mismo, en el primer caso es un dato tipo "string" y en el segundo caso es un dato tipo "booleano"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print('La variable 1 es', type(var1), 'y la variable 2 es', type(var2))

La variable 1 es <class 'str'> y la variable 2 es <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [1]:
y = 5 + 5.5
print(y)

10.5

11) Realizar una operación de suma de números complejos

In [58]:
a = 1 + 2j
b = 2 + 5j
print(a + b)

(3+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [63]:
n = a + 5.42
print(n)

(6.42+2j)

13) Realizar una operación de multiplicación

In [60]:
print (2 * 5)

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [64]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [65]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [66]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [67]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [68]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [75]:
var4 = 'Hola'
var5 = ' Nico'
print(var4 + var5)

Hola Nico

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [76]:
'2' == 2
#porque en el primer caso es tipo "str" y en el segundo caso es "int"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [80]:
'2' == str(2)
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [3]:
a = float('3,8')

#arroja error porque se utiliza la coma , en lugar del . punto

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [83]:
n = 3
n -=1
print(n)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [5]:
1<<2
#en ese caso, 2 indica la cantidad de veces que se duplica> 1+1=2(esa seria 1 vez) y 2+2=4 (esa seria la segunda vez)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [4]:
#no se puede sumar un dato tipo "int" con un dato tipo "str"
#no, no siempre darian el mismo resultado, si son int el resultado es 4, si serian str el resultado seria "22"

26) Realizar una operación válida entre valores de tipo entero y string

In [115]:
5 * 'je '

'je je je je je '